{{extend 'layout.html'}}
<h1>Book a Cab:</h1>
<!-- {{=form_search_cab}}  -->

<link href="{{=URL('static','assets/css/app.css')}}" rel="stylesheet">
<link href="{{=URL('static','assets/css/bootstrap.css')}}" rel="stylesheet">
<body style="background-color : #cecece;">

<!-- <div class="span4 Banner-Serach" style="width:100%; height: 100%;">
 <div class="Serach-padding">
  <h3>Enter Cab Details:</h3>
  <div class="input-append"> -->
  	{{=form_search_cab}}
<!-- </div>
 </div>
  </div> -->

</body>