{{extend 'layout.html'}}

<link href="{{=URL('static','assets/css/app.css')}}" rel="stylesheet">
<link href="{{=URL('static','assets/css/bootstrap.css')}}" rel="stylesheet">

<div align="center">
<img src="http://gobnmc.org/images/headers/hdr_carshare.jpg"/>
</div>

<div class="row-fluid">
        <div class="span3 well well-small green !important" height=800>
        <div class="row-fluid">
        <div class="span12 white">
        <h4 id="channel1Heading">Sign Up!</h4>
        </div>
        <div>
        <ul id="list">

  
        </div>
        </div>
         
        </div>
        <div class="span3 well well-small brown">
        <div class="row-fluid">
        <div class="span12 white">
        <h4 id="channel2Heading">Share car details.</h4>
        <ul id="list">



        </ul>
        </div>
        </div>
        </div>
        <div class="span3 well well-small pink">
        <div class="row-fluid">
        <div class="span12 white">
        <h4 id="channel3Heading">Get a car pooler.</h4>
        <ul id="list">


        </ul>
        </div>
        </div>
        </div>
        <div class="span3 well well-small blue">
        <div class="row-fluid">
        <div class="span12 white">
        <h4 id="channel3Heading">Save Money.</h4>
        <ul id="list">

     
     
        </ul>
        </div>
        </div>
        </div>
       </div>
        </div>
      </div>
    </div>